@page
@model WebAppInventarioS.Pages.Usuarios.DeleteModel
@{
	ViewData["Title"] = "Eliminar Usuario";
}
<h1>Baja Usuario</h1>

<h3>¿Estás seguro de que deseas dar de baja este Rol?</h3>

@if (Model.Usuario != null)
{
    <dl class="row">
        <dt class="col-sm-2">Usuario Acceso</dt>
        <dd class="col-sm-10">@Model.Usuario.UsuarioSesion</dd>
        <dt class="col-sm-2">Rol</dt>
        <dd class="col-sm-10">@Model.Usuario.IdRol</dd>
		<dt class="col-sm-2">Status</dt>
		<dd class="col-sm-10">@Model.Usuario.Status</dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Usuario.IdUsuario" />
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a asp-page="./Index" class="btn btn-secondary">Cancelar</a>
    </form>
}
else
{
    <p>Usuario No encontrada</p>
}
