@page
@model WebAppInventarioS.Pages.Departamentos.DetailsModel
@{
	ViewData["Title"] = "Departamento Detalle";
}

<h1>Departamento Detalle</h1>

@if (Model.departamento != null)
{
	<dl class="row">
		<dt class="col-sm-2">Nombre</dt>
		<dd class="col-sm-10">@Model.departamento.NombreDepartamento</dd>
		<dt class="col-sm-2">Status</dt>
		<dd class="col-sm-10">@Model.departamento.Status</dd>
	</dl>
	<a asp-page="./Edit" asp-route-id="@Model.departamento.IdDepartamento" class="btn btn-primary">Editar</a>
	<a asp-page="./Index" class="btn btn-secondary">Regresar a Lista</a>
}
else
{
	<p>Departamento no encontrado</p>
}

